{% extends "layout.html.twig" %}
{% block content %}
<div class="page-header">
  <h1>Weniger Software House</h1>
</div>
<p class="lead">
	We are new software development studio based in Poland. <br>
	We make lean <strong>web applications, mobile apps and business analisys</strong>.
</p>
<p>
	<em>We are just warming up our engines. Our offical website and identification is cooking right now!</em><br>
</p>
<p>
	In the meantime, <a href="http://www.facebook.com/WenigerSH" target="_blank" title="Weniger Software House facebook page">follow us on Facebook</a> or <a href="mailto:contact@wenigersh.com">contact@wenigersh.com</a>. 
</p>
{% endblock %}