{% extends "layout.html.twig" %}
{% block content %}
	    <div class="wrapper" style="margin-top: 70px">
            
            <div class="clock">
                <canvas id="canvas_seconds" width="518px" height="518px"></canvas>
            </div>
            
            <div class="text">
                <p>We are finishing our website right now</p>
                <span>Enjoy the Easter, we will be online in</span>
            </div><!--/text-->    

            <div class="timer">
                <p><span class="days">0</span> days <span class="hrs">0</span> hours <span class="mins">0</span> minutes and <span class="secs">0</span> seconds</p>
            </div>    
            <div class="logo">
                <img src="/img/logo.png" style="width: 250px;">
            </div>

        </div><!--/wrapper-->


            <p class="meantime">
    In the meantime, <a href="http://www.facebook.com/WenigerSH" target="_blank" title="Weniger Software House facebook page">follow us on Facebook</a> or <a href="mailto:contact@wenigersh.com">contact@wenigersh.com</a>. 
            </p>
{% endblock %}