{% extends "layout.html.twig" %}
{% block content %}
<div class="page-header" style="text-align: right">
  <h1 class="hidden">Weniger Software House</h1>
  <img src="/img/logo.png">
</div>
<p class="lead">
	As Software House we make lean, beautiful and quality <strong>web applications, mobile aps and business analisys</strong> for our partners. We follow rules of <strong>simplicity, focus and giving to the world</strong>.
</p>
<p>
	<em>We are just warming up our engines. Our offical website and identification is cooking right now!</em><br>
</p>
<p>
	In the meantime, <a href="http://www.facebook.com/WenigerSH" target="_blank" title="Weniger Software House facebook page">follow us on Facebook</a> or <a href="mailto:contact@wenigersh.com">contact@wenigersh.com</a>. 
</p>
{% endblock %}